<h1>
  支付宝双功能接口示范程序
</h1>
<p>
  所有支付款项都将作为您对作者王广忠(happypeter)的爱心捐助 <%= link_to "Project on Github", "https://github.com/happypeter/alipay_dualfun_demo" %>
</p>


<%= form_tag "/checkout" do %>
  <%= label_tag(:price, "商品价格(price)") %>
  <%= text_field_tag(:price) %>
  <%= label_tag(:quantity, "数量(quantity)") %>
  <%= text_field_tag(:quantity) %>
  <%= submit_tag("去支付宝结账") %>
<% end %>
<ul>
  <li>
  注意！到了支付宝页面，一定要选择“即时到账”，不支持“担保交易”
  </li>
  <li>
  付款完成后，请不要关闭支付宝窗口，将自动跳回本站，方便您继续操作。
  </li>
</ul>


<h2>交易记录</h2>
<%= flash[:notice] %>
<table>
  <tr>
    <th>
      out_trade_no
    </th>
    <th>
      total_fee
    </th>
    <th>
      notify_time
    </th>
  </tr>
  <% @transactions.reverse.each do |t| %>
    <tr>
      <td>
        <%= t.out_trade_no %>
      </td>
      <td>
        <%= t.total_fee %>
      </td>
      <td>
        <%= t.notify_time %>
      </td>
    </tr>
  <% end %>
</table>
