<%= flash[:notice] %>

<%= form_tag "/checkout" do %>
  <%= label_tag(:price, "price") %>
  <%= text_field_tag(:price) %>
  <%= label_tag(:quantity, "quantity") %>
  <%= text_field_tag(:quantity) %>
  <%= submit_tag("checkout") %>
<% end %>


<h2>transactions</h2>
<table>
  <tr>
    <th>
      out_trade_no
    </th>
    <th>
      total_fee
    </th>
    <th>
      notify_time
    </th>
  </tr>
  <% @transactions.each do |t| %>
    <tr>
      <td>
        <%= t.out_trade_no %>
      </td>
      <td>
        <%= t.total_fee %>
      </td>
      <td>
        <%= t.notify_time %>
      </td>
    </tr>
  <% end %>
</table>
